<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%m%throwable{short.localizedMessage}%n</Pattern>
			</PatternLayout>
		</Console>

		<File name="FileLog" fileName="debug.log" append="false">
			<PatternLayout>
				<Pattern>[%sequenceNumber %.-2level] %class.%method %file@%-3line %threadName: %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>

	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="Console" level="OFF"/>
			<AppenderRef ref="FileLog" level="OFF"/>
		</Root>
	</Loggers>
</Configuration>